/*
*   Element styles
*/
nav {
    height: 7rem;
}

input {
    padding-left: 1rem;
}

ul.dropdown-content.select-dropdown li span {
    color: black !important;
}

input[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color: #ff5252 !important;
    background-color: #ff5252 !important;
}

/*
*   Class styles
*/
.nav-wrapper {
    width: 75%;
    padding-top: 2.5rem;
    position: relative;
}

.brand-logo {
    position: absolute;
    bottom: -1.5rem;
}

.logo {
    max-height: 7rem;
}

.datepicker-row {
    color: black !important;
}

/*--------Search result area-----*/
.card-content{
    color: black;
}
.search-result-text{
    padding: 1.5rem;
}

.info{

  padding: 5px;
  margin: 3px;
}

.input-field input[type=text]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.input-field input[type="text"].invalid,
.input-field input[type="number"].invalid {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

.prism-bg {
    background-image: url('../images/prism.png');
}

.side-li {
    margin-left: 2rem;
    margin-right: 2rem;
}
